body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

header {
    background-color: #528386; 
    display: flex;
}

header a {
    color: #0A3641;
    display: flex;
}


.logo img {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
}

nav {
    margin-left: 70px;
}


nav li ,
footer li  {
    display: inline-block;  
}

h1 {
    font-size: 2em;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px ;
    text-align: center;
}

footer a {
    color: #fff;
}

/*Links */
a ,
li p {
    font-size: 1.5em;
    text-decoration: none;
    margin: 20px;
}

li i {
    font-size: 1.5em;

}

.active {
    text-decoration: underline;
}




/*Home page*/
.front-page {
    background-image: url(../images/nina-luong-dy4QG5c5xWQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 100vh;
    position: relative;
}

.shop

.shop {
    background-color: #f5f5f5;  
    display: flex;
    flex-wrap: wrap;
    
}

.shop__content {

}


.cta-button {
    background-color: #ffe259;
    font-size: 1.4em;
    padding: 10px 30px;
    border-radius: 30px;
}

.cta-small {
    background-color: #ffe259;
    font-size: 0.9em;
    padding: 10px 30px;
    border-radius: 30px;
}

.favourite {
    background-color: #528386;
    display: grid;
    grid-template-columns: repeat(3,1fr);     
}

.favourite h2 {
    grid-column: -1/1;
}

.favourite img {
    width: 60%;
}

.bottompic { 
background-image: url(../images/jeremy-bishop-dvACrXUExLs-unsplash.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position-x: right;
background-position-y: bottom;
min-height: 100vh;
position: relative;
}

/*Mens page*/
.jackets {
    margin: auto;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.product img {
    width: 100%;
}

/* about page */

.about__image {
    width: 50%;
    float: right;
}



    


/* contact page */
.contact {

}
.adress {

}

.phone {

}

.contact__images {
    width: 50%;
    float: right;
}

.form-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Product */
.background-page{
    background-image: url(../images/nina-luong-dy4QG5c5xWQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 100vh;
    position: relative;
}